@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100%;
  height: 60px;
  background: var(--background);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: flex;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--green);
  padding-left: 40px;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .logo img {
  height: 40px;
}

header .logo span {
  font-size: 16px;
  font-weight: 600;
  color: #2bff50;
  text-transform: uppercase;
}
body {
  background-image: url(gym.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}
.login-container {
  width: 400px;
  background-color: rgba(255 255, 255, 0.15);
  border: 1px solid rgba(255 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 16px;
  padding: 35px;
}
.login-container h1 {
  color: #001f3f;
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}
.caixa-login {
  position: relative;
  margin-bottom: 30px;
}
.caixa-login input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.1);
}
.caixa-login input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.caixa-login i {
  color: #001f3f;
  position: absolute;
  top: 25%;
  right: 20px;
  font-size: 20px;
}
.caixa-lembrar-esqueci {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 16px;
}
.caixa-lembrar-esqueci label {
  display: flex;
  align-items: center;
  gap: 5px;
}
.caixa-lembrar-esqueci label input {
  accent-color: #2bff50;
}
.caixa-lembrar-esqueci a {
  color: #fff;
  text-decoration: none;
}
.caixa-lembrar-esqueci a:hover {
  text-decoration: underline;
}
button {
  width: 100%;
  height: 45px;
  background-color: #2bff50;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
}
button:hover {
  background-color: #23cc3a;
  transform: translateY(-5px);
}
.termos {
  margin-top: 15px;
  text-align: left;
  font-size: 16px;
  color: #fff;
}
.termos label a {
  color: #001f3f;
  font-weight: 600;
  text-decoration: none;
}
#termos {
  accent-color: #2bff50;
}
.termos label a:hover {
  text-decoration: underline;
}

