@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #041333;
  --green: #2bff50;
  --gray: #e5e5e5;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

body {
  min-height: 100%;
  overflow-x: hidden;
  background-color: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  overflow: hidden;
}

header {
  width: 100%;
  height: 60px;
  background: var(--background);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: flex;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--green);
  padding-left: 40px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .logo img {
  height: 40px;
}

header .logo span {
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
  text-transform: uppercase;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background-color: var(--background);
  align-items: center;
}

.navIcon {
  height: 80px;
  width: 80px;
}

.navLogo {
  height: 60px;
  width: 60px;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--green);
  font-size: 16px;
  font-weight: 600;
}

.navHr {
  background-color: var(--green);
  height: 1px;
  border: none;
}

.content {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  height: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.model {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  background-color: white;
  box-sizing: border-box;
}

.text-left {
  justify-content: left;
}

.text-right {
  justify-content: right;
}

.sidebar {
  height: 100vh;
  width: 315px;
  background: var(--background);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-footer {
  text-align: center;
  font-size: 12px;
  color: #ccc;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  margin-top: auto;
}

.sidebar nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 20px;
  display: block;
  transition: background 0.3s ease;
}

.sidebar nav ul li a:hover {
  background: var(--green);
  color: var(--background);
  border-radius: 8px;
}

.navIcon {
  height: 80px;
  width: 80px;
}



.contentDetails {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: 95%;
  width: 90%;
  margin: 10px 10px 20px 10px;
  padding: 10px;
  border: 1px solid var(--gray);
}

.title {
  color: var(--green);
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 15px;
}

.subtitle {
  font-size: 18px;
  font-weight: 600;
  color: #001f3f;
  margin: 10px 0 10px 0;
}

.autor {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
  margin-top: 10px;
}

ul li {
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 1.4;
}

.btn {
  display: inline-block;
  text-align: center;
  background: #2bff50;
  color: #fff;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: bold;
  margin-top: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  background: #24cc40;
  transform: translateY(-5px);
}

canvas {
  width: 100% !important;
  max-height: 350px;
}