@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --background: #041333;
  --green: #2bff50;
  --gray: #e5e5e5;
}

header {
  width: 100%;
  height: 60px;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--green);
}

header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

header .logo img {
  height: 40px;
}

header .logo span {
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
  text-transform: uppercase;
}

body {
  background-image: url(../images/background/gym.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
}

.login-container {
  width: 400px;
  background-color: #fff;
  border: 1px solid rgba(255 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 16px;
  padding: 35px;
}

.login-container h1 {
  color: #001f3f;
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}

.caixa-login {
  position: relative;
  margin-bottom: 30px;
}

.caixa-login input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  outline: none;
  border-radius: 10px;
  border: 1px solid #000;
  color: #000000;
  font-size: 16px;
  background: #fff;
}

.caixa-login input::placeholder {
  color: rgb(0, 0, 0);
}

.caixa-login i {
  color: var(--background);
  position: absolute;
  top: 25%;
  right: 20px;
  font-size: 20px;
}
.login-erro {
  color: #ff4d4d;
  font-size: 0.9rem;
  margin-top: 5px;
  display: none;
}

.caixa-lembrar-esqueci {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 16px;
}

.caixa-lembrar-esqueci label {
  color: #000;
  display: flex;
  align-items: center;
  gap: 5px;
}

.caixa-lembrar-esqueci label input {
  accent-color: var(--green);
}

.caixa-lembrar-esqueci a {
  color: #000;
  text-decoration: none;
}

.caixa-lembrar-esqueci a:hover {
  text-decoration: underline;
}

button {
  width: 100%;
  height: 45px;
  background-color: var(--green);
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s;
  margin-top: 10px;
}

button:hover {
  background-color: #23cc3a;
  transform: translateY(-5px);
}

.termos {
  margin-top: 15px;
  text-align: left;
  font-size: 16px;
  color: #000;
}

.termos label a {
  color: var(--background);
  font-weight: 600;
  text-decoration: none;
}

#termos {
  accent-color: var(--green);
}

.termos label a:hover {
  text-decoration: underline;
}

.link{
  width: 100%;
  margin-top: 5px;
  text-align: center;
  
}

.link a{
  color: var(--green);
  text-decoration: none;
  font-weight: 600;
}
footer {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  width: 100%;
  pointer-events: none;
}

footer p {
  margin: 0;
}