@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --background: #041333;
  --green: #2bff50;
  --gray: #e5e5e5;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  background-color: var(--background);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

header {
  width: 100%;
  height: 60px;
  background: var(--background);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: flex;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--green);
}

header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 40px;
}

header .logo img {
  height: 40px;
}

header .logo span {
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
  text-transform: uppercase;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background-color: var(--background);
  align-items: center;
}

.navIcon {
  height: 80px;
  width: 80px;
}

.navLogo {
  height: 60px;
  width: 60px;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--green);
  font-size: 16px;
  font-weight: 600;
}

.navHr {
  background-color: var(--green);
  height: 1px;
  border: none;
}

.content {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  height: 100%;
}

.model {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  justify-content: center;
}

.cardContainer {
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto auto auto;
  min-width: 250px;
  gap: 20px;
  height: 500px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-header img:hover {
  cursor: pointer;
}

.card {
  max-height: 280px;
  box-shadow: 0px 10px 5px var(--gray);
  background-color: white;
  border-radius: 10px;
  padding: 25px 25px 25px 25px;
  border: 1px solid var(--gray);
}

.card span {
  color: rgb(100, 100, 100);
  font-weight: 700;
}

.card ul {
  list-style: none;
}

.card h1 {
  color: var(--green);
}

.card hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--gray);
  margin: 10px 0px;
}

.card button {
  background-color: var(--green);
  color: white;
  border-radius: 100px;
  font-size: larger;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border: var(--green);
}

.modelMenu {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(140, 140, 140, 0.5);
}

.modelMenuContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 25px;
  height: 50%;
  gap: 20px;
}

.modelMenuContent hr {
  border: 1px white solid;
  width: 100%;
}

.modelMenuContent img {
  height: 100px;
  width: 100px;
}

.modelMenuContent span {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 100px;
  color: black;
  width: 100%;
  font-size: 40px;
  padding-left: 20px;
}

.modelMenuItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
}

.sidebar {
  position: relative;
  top: 60px;
  width: 315px;
  height: 100%;
  background: var(--background);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.sidebar-footer {
  position: absolute;
  bottom: 70px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #ccc;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -50px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 20px;
  display: block;
  transition: background 0.3s ease;
}

.sidebar nav ul li a:hover {
  background: var(--green);
  color: var(--background);
  border-radius: 8px;
}

.navIcon {
  height: 80px;
  width: 80px;
}

.menuIcon {
  display: none;
}

.findBar {
  display: flex;
  position: absolute;
  height: 50px;
  width: 400px;
  top: 17%;
  left: 50%;
  transform: translate(-50%);
}

.inputFindBar {
  border-radius: 100px;
  height: 100%;
  width: 100%;
}

.findBar .button {
  position: absolute;
  height: 45px;
  width: 45px;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: transparent;
  border: transparent;
}

@media (max-width: 1200px) {
  .menuIcon {
    display: block;
    height: 60px;
    width: 60px;
  }

  .menuContent {
    position: absolute;
    height: 100px;
    width: 400px;
    left: 50%;
    bottom: 6%;
    transform: translate(-50%);
  }

  .menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    height: 80px;
    width: 400px;
    background-color: white;
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    border: 1px #e5e5e5 solid;
  }

  .select {
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    height: 100px;
    width: 100px;
    background-color: #2bff50;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
