@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --background: #041333;
  --green: #2bff50;
  --gray: #e5e5e5;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  background-color: var(--background);
  overflow-x: hidden;
}

.container {
   min-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100vw;
  
}

header {
  width: 100%;
  height: 60px;
  background: var(--background);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: flex;
  top: 0;
  left: 0;
  border-bottom: 2px solid var(--green);
}

header .logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 40px;
}

header .logo img {
  height: 40px;
}

header .logo span {
  font-size: 16px;
  font-weight: 600;
  color: var(--green);
  text-transform: uppercase;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  background-color: var(--background);
  align-items: center;
}

.navIcon {
  height: 80px;
  width: 80px;
}

.navLogo {
  height: 60px;
  width: 60px;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--green);
  font-size: 16px;
  font-weight: 600;
}

.navHr {
  background-color: var(--green);
  height: 1px;
  border: none;
}

.content {
  display: flex;
  flex-direction: row;
  background-color: var(--background);
  height: 100%;
}

.model {
   display: flex;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: white;
}

.cardContainer {
  margin-top: 15px;
  display: grid;
  grid-template-columns: auto auto auto;
  min-width: 250px;
  gap: 20px;
  height: 500px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-header img:hover {
  cursor: pointer;
}

.card {
  max-height: 280px;
  box-shadow: 0px 10px 5px var(--gray);
  background-color: white;
  border-radius: 10px;
  padding: 25px 25px 25px 25px;
  border: 1px solid var(--gray);
}

.card span {
  color: rgb(100, 100, 100);
  font-weight: 700;
}

.card ul {
  list-style: none;
}

.card h1 {
  color: var(--green);
}

.card hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: black;
  margin: 10px 0px;
}

.card button {
  background-color: var(--green);
  color: white;
  border-radius: 100px;
  font-size: larger;
  font-weight: bold;
  width: 100%;
  height: 50px;
  border: var(--green);
}

.sidebar {
  height: 100vh;
  width: 315px;
  background: var(--background);
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-footer {
  text-align: center;
  font-size: 12px;
  color: #ccc;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 20px 0;
  margin-top: auto;
}

 .sidebar nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 10px 20px;
  display: block;
  transition: background 0.3s ease;
}

.sidebar nav ul li a:hover {
  background: var(--green);
  color: var(--background);
  border-radius: 8px;
}

.navIcon {
  height: 80px;
  width: 80px;
}

